<form action="/create_like_from_movie" method="post">

  <input type="hidden" name="user_id" value="<%= current_user.id %>">

  <input type="hidden" name="movie_id" value="<%= @movie.id %>">

  <div class="form-group">
    <label for="show_id">
      Show
    </label>

    <%= select_tag(:show_id, options_from_collection_for_select(Show.all, :id, :name, @like.show_id), :class => "form-control") %>
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Create like
  </button>
</form>
