<h1>
  Edit movie #<%= @movie.id %>
</h1>

<hr>

<form action="/update_movie/<%= @movie.id %>" method="post" enctype="multipart/form-data">

  <div class="form-group">
    <label for="title">
      Title
    </label>

    <input type="text" id="title" name="title" class="form-control" value="<%= @movie.title %>">
  </div>

  <div class="form-group">
    <label for="image">
      Image
    </label>

    <%= cl_image_tag(@movie.image.to_s, :width => 90, :height => 90, :crop => :thumb) %>
    <input type="file" id="image" name="image" class="form-control">
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Update movie
  </button>
</form>

<hr>

<a href="/movies">
  Go back
</a>
