<form action="/create_like_from_show" method="post">

  <input type="hidden" name="user_id" value="<%= current_user.id %>">

  <div class="form-group">
    <label for="movie_id">
      Movie
    </label>

    <%= select_tag(:movie_id, options_from_collection_for_select(Movie.all, :id, :title, @like.movie_id), :class => "form-control") %>
  </div>

  <input type="hidden" name="show_id" value="<%= @show.id %>">

  <button class="btn btn-block btn-outline-secondary">
    Create like
  </button>
</form>
