<!-- Form like start -->
<form action="/create_like_from_show" method="post">
<!-- Form like end -->

  <!-- Label and input for user_id start -->
  <div class="form-group">
    <label for="user_id">
      User
    </label>

    <!-- Input for user_id start -->
    <%= select_tag(:user_id, options_from_collection_for_select(User.all, :id, :created_at, @like.user_id), :class => "form-control") %>
    <!-- Input for user_id end -->
  </div>
  <!-- Label and input for user_id end -->

  <!-- Label and input for movie_id start -->
  <div class="form-group">
    <label for="movie_id">
      Movie
    </label>

    <!-- Input for movie_id start -->
    <%= select_tag(:movie_id, options_from_collection_for_select(Movie.all, :id, :title, @like.movie_id), :class => "form-control") %>
    <!-- Input for movie_id end -->
  </div>
  <!-- Label and input for movie_id end -->

  <!-- Label and input for show_id start -->
  <!-- Input for show_id start -->
  <input type="hidden" name="show_id" value="<%= @show.id %>">
  <!-- Input for show_id end -->

  <button class="btn btn-block btn-outline-secondary">
    Create like
  </button>
</form>
