<h1>
  Add a new show
</h1>


<hr>

<form action="/create_show" method="post" enctype="multipart/form-data">

  <div class="form-group">
    <label for="name">
      Name
    </label>

    <input type="text" id="name" name="name" class="form-control">
  </div>

  <div class="form-group">
    <label for="title">
      Title
    </label>

    <input type="text" id="title" name="title" class="form-control">
  </div>

  <div class="form-group">
    <label for="image">
      Image
    </label>

    <input type="file" id="image" name="image" class="form-control">
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Create show
  </button>
</form>

<hr>

<a href="/shows">
  Go back
</a>
